@import "../../sass/abstracts/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 0.4rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1.75rem;
  z-index: 1232312093812093810923;
  background: #fdfdfd;
}

.buttonPLus {
  background: #818369;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.59375rem 1.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttonPLus:hover {
  background: rgb(114, 114, 89);
}
.buttonPlusGroup {
  background: transparent;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.59375rem 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #818369;
  color: #818369;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttonPlusGroup:hover {
  background: #dfe1d3;
}

.subtitle {
  color: var(--Grey-Grey-400, #858d9d);
  font-family: $es-en-font;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.125rem */
  place-self: flex-start;
  height: 32px;
  margin: 0px;
  padding: 0px;
  margin: 0px;
}

.button-container {
  display: flex;
  flex-direction: row !important;
  gap: 0.75rem;
}

.button-chip,
.button-chip-active {
  border-radius: 6.25rem;
  border: 1px solid #818369;
  background: #e9eadd;
  display: flex;
  padding: 0.46875rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-first-container {
  display: flex;
  flex-direction: row !important;
}

.button-chip {
  background-color: transparent;
  border: 1px solid var(--Grey-Grey-300, #989fad);
}

.button-chip:hover {
  background: #dfe1d3;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.izq {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

.table {
  width: 70%;
}
.containerDashA {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #f8f9f9;
  padding: 3rem 3rem 0rem 3rem;
}

.first-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.filter-first {
  position: relative;
}

.button-container-header-table {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.filter-b:hover {
  background: #dfe1d3;
}
