@import "../abstracts/variables";

h2 {
  margin: 0;
  padding: 0;
}
body {
  overscroll-behavior: none;
}

.general-containerA {
  padding-left: 100px;
  padding-right: 100px;
  width: calc(100% - 200px);
  padding-top: 20px;
  background-color: #f8f8ff;
  z-index: -100;
  position: absolute;
  overscroll-behavior: none;
}

.hero-layout {
  position: relative;
}

.hero-layout,
.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0px;
}

.hero-layout {
  justify-content: center;
  margin-top: 3rem;
}

.title-page {
  font-family: $es-en-font;
  color: $accent-color;
  font-weight: 500;
  line-height: 150%;
  font-size: 2.5rem;
  margin: 0px;
}

.br-font,
.br-fontbis {
  font-weight: 900;
}

.br-fontbis {
  color: $accent-color;
  margin: 0px;
  padding: 0px;
  display: inline;
}

.sub-page,
.titleBis {
  color: #6a6a6a;
  font-family: $es-en-font;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin: 0px;
}

.picture-containerHome {
  position: relative;
  width: 90%; // or any other responsive width
}

.image-wrapper {
  position: relative;
}
.buttonContainer-homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.12rem;
}

.button-homepageA,
.button-homepageB {
  display: flex;
  width: 11.25rem;
  height: 3rem;
  padding: 0.59375rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid #818369;
  color: #818369;
  font-family: $inter-font;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
  text-transform: capitalize;
}

.button-homepageB {
  background: #828369;
  color: #fff;
}

.circleB,
.circleC {
  border-radius: var(--Number, 30rem);
  background: #b4b6a0;
  filter: blur(127.5766143798828px);
  width: 30rem;
  height: 30rem;
  flex-shrink: 0;
  position: absolute;
  z-index: -100;
  right: -20px;
  top: 60px;
}

.circleC {
  left: 0px;
  top: 300px;
}

.titleBis,
.titleBisA {
  color: #6a6a6a;
  text-align: center;
  font-family: $es-en-font;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 3.75rem */
  width: 100%;
  align-items: center;
  color: #6a6a6a;
  text-align: center;
  font-family: $es-en-font;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 3.75rem */
}

.titleBisA {
  margin-top: -7rem;
}

.layout-sectionb {
  padding: 0 140px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 3rem;
}
