@import "../abstracts/variables.scss";
.layout-invitation-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  font-family: $es-en-font;
  padding: 0 3rem 0 3rem;
  width: calc(100% - 6rem);
  gap: 2rem;
}

.invitation-card-imagen-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-container {
  width: 100%;
}

.form-layout {
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 47.2px 0px rgba(0, 0, 0, 0.04);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: $es-en-font;
  height: 100%;
  justify-content: space-between;
}

.input-container {
  position: relative;
}

.input-containerBisaBis {
  position: relative;
  width: 100%;
}

.input-containerBisaBisA {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.edit-button {
  border-radius: 0.35056rem;
  background: #e3e4cd;
  color: white;
  width: 4.875rem;
  padding: 0.43819rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818369;
  font-family: $es-en-font;
  font-size: 0.70113rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
}

.article-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 1rem;
}
.title-a {
  display: flex;
  flex-direction: column;
  height: 15%;
}

.all-containeFr {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: space-between;
}

.title-form-card {
  margin-bottom: 2rem;
}

.subtitle-form-card {
  color: #5d6679;
  font-family: $es-en-font;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.css-183kv37-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.muirtl-183kv37-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.mui-183kv37-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}
