@import "../abstracts/mixin.scss";
@import "../abstracts/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
  width: 100vw;
}

.pictureContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overflow-picture-container {
  position: relative;
  border-radius: 20px; /* Ajusta este valor según tus necesidades */
  overflow: hidden;
  height: 95%;
  width: 90%;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
}
.container-inputB {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 3.5rem;
  min-width: 440.06px;
}

.container-pos {
  position: relative;
}

.rows,
.rowsSpecial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}

.rowsSpecial:last-child {
  min-width: 100%;
}
.checkbox {
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
  min-height: 2rem;
  padding: 14px 40px;
}

.checkbox {
  width: calc(100% + 90px);
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

h1 {
  font-size: $title-size + 1rem;
  font-family: $title-family;
  font-weight: $title-weight;
  font-style: italic;
}

form {
  place-self: center;

  min-height: 325px;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4rem;
}
.active,
.deactive {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: $accent-color;
  color: white;
}

.deactive {
  background-color: #b7ba96;
  color: white;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #b7ba96;
}

.container-comment {
  position: absolute;
  bottom: -50px;
  left: 0;
  font-size: 14px;
}
.checkbox-custom {
  position: relative;
  height: 15px;
  width: 15px;
  border: 2px solid $accent-color;
  background: #f9f9f9;
  display: inline-block;
}

.checkbox-custom.checked {
  background: $accent-color;
}

.checkbox-custom::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 15px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

/* .checkbox-custom.checked::after {
  display: block;
}
 */

.button-container-sign-up {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: $es-en-font;
}

.google {
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.linef {
  width: 25%;
  height: 2px;
  background-color: #b7ba96;
  margin: 1.5rem 0;
}
