@import "../abstracts/variables.scss";

.dash-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.card-container {
  background-color: white;
  border-color: 1px solid $secondary-color;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border: 1px solid $accent-color;
  gap: 2rem;
  position: relative;
}
.groom-container {
  background-color: #e9eadd;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  width: 3.75rem;
  height: 2.75rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.all-stats-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.number-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;

  h5:first-child {
    margin: 0px;
    color: #5d6679;
    font-family: $font-family-hebrew;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
  }
  h5:last-child {
    color: $accent-color;
    font-family: $font-family-hebrew;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3.75rem */
    margin: 0px;
  }
}

.details {
  position: absolute;
  background-color: #e9eadd;
  height: 34px;
  width: 10px;
  top: 0;
  right: 0;
  border-top-right-radius: 0.5rem;
}

.details-buttom {
  position: absolute;
  background-color: $accent-color;
  height: 34px;
  width: 10px;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 0.5rem;
}
