.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin-top: 0.4rem;
  padding: 0 3rem 0 3rem;
}

.dashboard-layout {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  width: 100vw;
}

.flexa {
  display: flex;
  width: 100%;
  flex-direction: column !important;
  position: relative;
}

.padding-header {
  padding: 0rem 3rem 0rem 3rem;
  background: #fdfdfd;
}
/*   padding: 0rem 0.75rem 0rem 0.75rem;
*/
.content {
  display: flex;
  height: 100%;
}

/* 
padding: 2rem 0.75rem 0rem 0.75rem;
 */

.containerDash {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f8f9f9;
  padding: 3rem 3rem 0rem 3rem;
}

.graph-container-pair {
  display: flex;
  flex-direction: row;
}

.containerDashito {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
}
