.cardGridContainerA {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: calc(100% - 5rem);
  padding: 2.5rem;
  margin-bottom: 3rem;
  height: fit-content;
}

@media (max-width: 768px) {
  .cardGridContainerA {
    grid-template-columns: 1fr;
  }
}

.layout-card-container {
  width: 95%;
  display: flex;
  justify-content: center;
}
