@import "../abstracts/variables";
.layout-table-page {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  height: 100%;
}

.table-filter-container-dash {
  position: relative;
}

.table-card-container-dash {
  padding-right: 2rem;
  border-right: 1px solid black;
}

.table-card-container-dash-he {
  padding-left: 2rem;
  border-left: 1px solid black;
}

.divisorLine {
  height: 100%;
  width: 0.0625rem;
  background-color: #c5c5c5;
  position: absolute;
  left: -30px;
}

.tableCardContainer-Layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  gap: 1.5rem;
}

.no-tables-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}

.containerGen {
  height: 100%;
}

.font-h4-sub {
  color: #000;
  font-family: $es-en-font;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.875rem */
}
