.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
}

.table-container {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonPLus {
  background: #818369;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.59375rem 1.5rem;
  justify-content: center;
  align-items: center;
  color: white;
}
