@import "../../sass/abstracts/variables.scss";

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  margin-top: 0.4rem;
}

.table-container {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonPLus {
  background: #818369;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.59375rem 1.5rem;
  justify-content: center;
  align-items: center;
  color: white;
}

.subtitle {
  color: var(--Grey-Grey-400, #858d9d);
  font-family: $font-family-hebrew;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.125rem */
  place-self: flex-start;
  padding: 0 1.25rem;
  height: 32px;
  margin: 0px;
}
