@import "../abstracts/variables.scss";
@import "../abstracts/mixin.scss";

.my-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0rem;
  font-family: $font-family;
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid #dbdeb9;
  background: var(--Color, #fff);
  color: $font-color;
  border-top-left-radius: 0.5rem;
}

tbody {
  min-height: 500px;
}

.my-table th,
.my-table td {
  padding: 1.0625rem 1.5rem;
  text-align: right;
  border-bottom: 1px solid #818369;
  min-height: 2rem;
}

.my-table .my-header-group {
  background-color: $primary-color;
}

.my-table .my-row {
}

.column-groups {
  width: 500px;
}

.column-name {
  width: 10rem;
}

.column-email {
  width: 10rem;
}

input {
}

.group-chip-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.group-chip,
.filterButton {
  border-radius: 0.1875rem;
  border: 1px solid rgba(129, 131, 105, 0.518);
  padding: 0rem 0.6875rem;
  background: #d4b5abae;
}

.search {
  background-color: transparent;
  border: none;
}

.headOfHeader,
.search-container {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  min-height: 46px;
}

button {
  background-color: transparent;
  border: none;
}

.thead tr {
  position: sticky;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 0; /* Asegúrate de que el encabezado esté por encima de las otras filas */
}

.searchInput {
  @include input-styles;
  padding: 14px 20px;
}

.searchInput {
  @include input-styles;
  padding: 14px 20px;
  transition: all 0.2s ease-in-out;
  width: 0;
  visibility: hidden;
}

.searchInput.visible {
  width: 200px; // O el ancho que desees
  visibility: visible;
}

input[type="checkbox"] {
  display: none;
}

/* Crea un nuevo checkbox */
input[type="checkbox"] {
  display: none;
}

/* Crea un nuevo checkbox */
input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #836977;
  background: #f9f9f9;
}

/* Estilo cuando el checkbox está marcado */
input[type="checkbox"]:checked + label:before {
  background: #836977;
}

.menu {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 1.5rem;
  z-index: 120; /* Asegúrate de que el menú aparezca por encima de otros elementos */
  display: none; /* Por defecto, el menú está oculto */
}

.menu-open {
  display: flex;
  flex-direction: row;
}

.headOfHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fdfdfd;
}

article {
  overflow-y: auto;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
    padding-top: 46px; // Añade un padding-top al contenedor de desplazamiento
    top: 46px;
    width: 10px; // Ajusta el ancho del scrollbar
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; // Ajusta el color de la pista del scrollbar
  }

  &::-webkit-scrollbar-thumb {
    background: #888; // Ajusta el color del pulgar del scrollbar
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; // Ajusta el color del pulgar del scrollbar cuando se pasa el mouse por encima
  }
}

.headito {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter-first {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.filterButton {
  border-radius: 0.1875rem;
  border: 1px solid #818369;
  padding: 0.5rem 0.6875rem;
  background: transparent;
  gap: 10px;
  font-family: $font-family;
  transition: all 0.2s ease-in-out;
}

.filterButton:hover {
  background: rgba(129, 131, 105, 0.602);
}

.search-container {
  position: relative;
}

.searchicon {
  position: absolute;
  left: 10px;
  bottom: 24%;
}

.selectePerSize {
  font-size: 14px;
  border: 0.5px solid #545454;
  border-radius: 8px;
  outline: none;
  background-color: #e7e5e4;
  transition: all 0.2s ease-in-out;
  padding: 0 1rem;
}

.selectePerSize {
  height: 100%;
  padding: 1rem 1rem;
}

tr {
  padding: 1.0625rem 1.5rem;
}

th {
  background-color: $table-background;
}

th[data-checkbox-header="true"] {
  /* Aquí puedes agregar tus estilos */
  border-top-right-radius: 0.5rem;
}

th[data-actions-header="true"] {
  border-top-left-radius: 0.5rem;
}

.headOfHeader {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.filter-b {
  border-radius: 0.5rem;
  border: 1px solid var(--Grey-Grey-400, #858d9d);
  padding: 0.59375rem 1rem 0.59375rem 0.5rem;
}
