@import "../abstracts/variables.scss";

.card-container {
  border-color: 1px solid $secondary-color;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 2rem;
  position: relative;
  background-color: white;
  color: black;
  background-color: white;
  position: relative;
}
