@import "material-icons/iconfont/material-icons.css";
@import "../components/chips.scss";
@import "../abstracts//variables.scss";
$material-icons-font-path: "./" !default;
$material-icons-font-size: 34px !default;
$material-icons-font-display: block !default;
$material-icons-fill-color: red;

.button .material-icons {
  font-size: 34px;
  color: #818369;
}

.font-hebrew {
  font-family: $font-family-hebrew;
}
.font-regular {
  font-family: $es-en-font;
}

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 12.25rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  border: transparent 0px;
}

a {
  text-decoration: none;
  color: #466650;
}

.buttonactive {
  border-radius: 0.5rem;
  background: #e9eadd;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 12.25rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  color: #818369;
  border: transparent;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 12.25rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  color: #818369;
}
