@import "../abstracts/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-a {
  background-color: $accent-color;
  color: white;
  padding: 14px 20px;
  font-family: $es-en-font;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: $subtitle-size;
  font-family: $title-family;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  &:hover {
    opacity: 1;
  }
}

.button-c {
  background-color: $accent-color;
  color: white;
  padding: 14px 20px;
  border: none;
  font-family: $es-en-font;
  cursor: pointer;
  min-width: 14rem;
  width: 100%;
  opacity: 0.9;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: $subtitle-size;
  font-family: $title-family;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  &:hover {
    opacity: 1;
  }
}

.button-a-disabled {
  background-color: $accent-color-disabled;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: not-allowed;
  width: 100%;
  opacity: 0.9;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: $subtitle-size;
  font-family: $title-family;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  &:hover {
    opacity: 1;
  }
}

.button-b {
  background-color: #81836900;
  color: $accent-color;
  padding: 14px 20px;
  border: 1px solid black;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.5rem;
  font-size: $subtitle-size;
  font-family: $title-family;
  font-weight: 400;
  transition: all 0.3s ease-in-out;

  font-weight: bold;
  &:hover {
    background-color: #81836937;
  }
}

.button-d {
  background-color: #81836900;
  color: $accent-color;
  padding: 14px 20px;
  border: 1px solid black;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.5rem;
  font-size: $subtitle-size;
  font-family: $title-family;
  font-weight: 400;
  transition: all 0.3s ease-in-out;

  font-weight: bold;
  &:hover {
    background-color: #81836937;
  }
}
