@import "../abstracts/variables.scss";

.font-hebrew {
  font-family: $hebrew-font-option2;
}

.font-regular {
  font-family: $es-en-font;
}

.dash-card-container {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;

  width: 100%;
  justify-content: space-between;
  .DashboardGraphCard:nth-child(2) {
    margin: 0px 1.5rem;
  }
}

.card-container {
  border-color: 1px solid $secondary-color;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 2rem;
  border-radius: 1rem;

  position: relative;

  position: relative;
}
.groom-container {
  background-color: #e9eadd;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
}

.title-inside {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.all-stats-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 1rem;
}

.number-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;

  h5:first-child {
    color: #5d6679;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
  }
  h5:last-child {
    color: #818369;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
  }
}

.colorA {
  color: #818369 !important;
}

.colorB {
  color: #aeb18b !important;
}

.colorC {
  color: #9297a084 !important;
}
/* .details {
  position: absolute;
  background-color: #e9eadd;
  height: 34px;
  width: 10px;
  top: 0;
  right: 0;
  border-top-right-radius: 0.5rem;
}

.details-buttom {
  position: absolute;
  background-color: $accent-color;
  height: 34px;
  width: 10px;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 0.5rem;
} */

.title {
  font-size: 1.4rem;
}

.call-to-acttion {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fa {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  background-color: white;
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
