.filepond--wraper {
  width: 50% !important;
  height: 11.75rem !important;
}

.filepond--drop-label {
  background-color: white !important;
  border: 1px dashed #b1bfd0 !important;
  border-radius: 0.5625rem !important;
  border: 1px dashed #b1bfd0;
}
