.menu-dropdown {
  position: absolute;
  top: 100%;
  z-index: 1000000;
  display: none;
  float: left;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 22.1px 0px rgba(0, 0, 0, 0.25);
  background-clip: padding-box;
  display: none;
  padding: 1rem 2rem;
}

.menu-dropdown-he {
  left: 10%;
}

.menu-dropdown-en-es {
  right: 10%;
}
.menu-dropdown.open {
  display: block;
}

/* .line-divisor {
  width: calc(100% - 4rem);
  height: 1px;
  background-color: #e9eadd;
  align-self: center;
}

.line-divisor-he {
  margin-right: -2rem;
}

.line-divisor-en-es {
  margin-left: 2rem;
} */

.header-dropDown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
}
.user-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #464c57;
  h3 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }
}

.ul {
  color: #464c57;
  padding: 0;
  margin: 2rem 0 0 0;
  list-style: none;
  .li {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0.75rem;
  }
  .li:hover {
    border-radius: 0.5rem;
    background: #e9eadd;
  }
}
