@import "../abstracts/variables.scss";
@import "../abstracts/mixin.scss";

.titleA {
  color: black;
  margin-top: 1rem;
  font-family: $es-en-font;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  right: 40%;
}
.buttoncito {
  @include smallButtons;
  width: 100%;
}

.buttoncito-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.title {
  color: $font-color;
}
