@import "../abstracts/mixin.scss";

.search-inputB {
  display: flex;
  width: 20vw;
  padding: 0.5rem 1rem;
  justify-content: center;
  font-size: 1rem;
  color: var(--Grey-Grey-400, #858d9d);
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--Dashboard, #eef0f2);
  background: var(--Grey-Grey-50, #f7f9fc);
  padding-right: 44px;
}

.search-inputB-he {
  padding-right: 44px;
  padding-left: 0;
}

.search-inputB-en-es {
  padding-left: 44px;
  padding-right: 0;
}

.search-containerB {
  position: relative;
  display: flex;
}
.searchD {
  background-color: transparent;
  border: none;
  position: absolute;
}

.searchD-he {
  right: 0;
}

.searchD-en-es {
  left: 0;
}
