.search-cont {
  position: relative;
}

.searchInput-f {
  display: flex;
  width: 18.75rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Grey-Grey-100, #d0d3d9);
  background: var(--Color, #fff);
  color: var(--Grey-Grey-600, #5d6679);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0;
}
