@import "../abstracts//variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: $es-en-font;
  border: none;
}

.general-table-particle-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.1);
}

.table-title {
  color: #5f5f5f;
  font-family: $es-en-font;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.5rem */
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.diviser {
  width: 100%;
  height: 0.0625rem;
  background: #c5c5c5;
}

ol {
  margin: 0;
}
.table-list-container {
  height: 100%;
}
.list-ol-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.input-li-table {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.input-hover-label {
  display: none;
  position: absolute;
  top: 0;
}

.input-li-table:hover + .input-hover-label,
.input-li-table-filled:hover + .input-hover-label {
  display: block;
}

.input-li-table,
.input-li-table-filled {
  width: 100%;
  padding: 0.5rem 1rem;
}

.input-li-table-filled:focus,
.input-li-table:focus {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.list-elementCont {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.list-element {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
}

.index-span {
}

.button-settings {
  visibility: hidden;
}

.table-title:hover .button-settings {
  visibility: visible;
}

.index-width {
  width: 100%;
}

.list-element:hover {
  background-color: #c4c79e74;
}
