@import "../abstracts/variables.scss";

.row,
.row-reverse {
  display: grid;
  align-items: center;
  position: relative; // Add this line
  grid-template-columns: 1fr 1fr 4fr;
  gap: 1rem;
  font-family: $es-en-font;
}

.row {
  flex-direction: row;
  width: 80%;
}

.row-reverse {
  direction: rtl;
  width: 70%;
  margin-left: 30%;
}
.row-reverse.he {
  direction: ltr;
  width: 100%;
  margin-left: 0px;
}

.picture-container {
  display: flex;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.text-contaoner-testi {
  width: 40rem;
  h3 {
    color: #a1a1a1;
  }
}

.parragraph-text-test {
  color: #818369;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem; /* 133.333% */
}

.testimonials-card-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.layout-test {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  min-height: 100dvh;
  display: flex;
  justify-content: space-around;
  h1 {
    color: #818369;

    text-align: center;
    font-family: $es-en-font;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.71875rem; /* 148.75% */
  }
}
