@import "../abstracts/variables.scss";

@mixin input-styles {
  font-size: 1rem;
  border: 1.5px solid $accent-color;
  border-radius: 0.5rem;
  outline: none;
  min-height: 2rem;
  width: calc(100% - 43px);
  padding: 14px 20px;

  &:focus {
    border-color: $accent-color;
  }
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid-1-3-2-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@mixin smallButtons {
  background: #818369;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.59375rem 1.5rem;
  justify-content: center;
  align-items: center;
  color: white;
}
