@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&family=Lora:ital,wght@1,700&display=swap");

$primary-color: #eee8db;
$font-color: #545454;
$two-third: #dbd2c7;
$secondary-color: #818369;
$accent-color: #836977;
$title-size: 2.5rem;
$subtitle-size: 1.5rem;
$title-family: "Lora", serif;
$title-weight: 700;
