@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&family=Lato&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primary-color: #e7e5e4;
$font-color: #667085;
$two-third: #d4b5ab;
$secondary-color: #a86869;
$accent-color: #818369;
$accent-color-low-opacity: #f3f4eb;
$accent-color-disabled: #bbbda0;
$title-size: 2.5rem;
$subtitle-size: 1.5rem;
$title-family: "Lora", serif;
$title-weight: 700;
$font-family: "Roboto Slab", serif;
$font-family-hebrew: "Lora", serif;
$button-weight: 600;
$table-background: rgba(233, 234, 221, 1);

@font-face {
  font-family: "Hebrew-cool-font";
  src: url("../../../fonts//cooler.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

$hebrew-cool-font: "Hebrew-cool-font";
