@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&family=Lato&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primary-color: #eee8db;
$font-color: #545454;
$two-third: #dbd2c7;
$secondary-color: #818369;
$accent-color: #836977;
$title-size: 2.5rem;
$subtitle-size: 1.5rem;
$title-family: "Lora", serif;
$title-weight: 700;
$font-family: "Roboto Slab", serif;
$button-weight: 600;
